*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  min-height: 100vh;
  padding: 2rem 0;
}


@media screen and (max-width: 426px){
  #root{
    padding: 0;
  }
}