*{
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-family: "Tomorrow", -apple-system, BlinkMacSystemFont, "Segoe UI",
    "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
}

#root{
  width: 98%;
  display: flex;
  /* justify-content: center; */
  align-items: center;
  border: 1px solid #00f0ff;
  padding: 2rem 0;
}


@media screen and (max-width: 426px){
  #root{
    padding: 0;
  }
}

@media screen and (max-width: 850px){
  #root{
    flex-direction: column;
  } 
}